Package: uf-calamares-settings
Version: 1.7
Architecture: all
Depends: calamares, cryptsetup, keyutils, qml-module-qtquick-window2, qml-module-qtquick2, dconf-gsettings-backend | gsettings-backend
Maintainer: UFlinux
Description: settings for camalares installer
